*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* color: #FFFFFF; */
}
/* navber styles */
.nav-container{
  width: 100%;
  height: 65px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:20px 30px;
}
.nav-logo img{
  width: 139px;
  height: 60px;
}
.navber ul{
  display:flex;
  list-style:none;
}
.navber ul li a{
  text-decoration:none;
  color:#000;
  margin-right:30px;
}
.btn-primary button{
  background-color:#4CAF50;
  color:white;
  border:none;
  border-radius: 5px;
  padding:10px 20px;
}

/* hero section styles */
.hero {
     text-align: center;
    justify-content: space-around;
    position: relative;
    height: 100vh;
    background: url("assets/hero-bg.png");
    display: flex;
    align-items: center;
    padding: 0 80px;
    color: #FFFFFF;
}

/*For Dark overlay */
.overlay {
    position: absolute;
    inset: 0;
    background:rgba(26, 57, 86, 0.415);
}

/*Hero Content */
.hero-content {
    position: relative;
    max-width: 700px;
}

/* Early Access Button */
.access {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #FFFFFF;
    color: #469165;
    padding: 6px 14px;
    border-radius: 1000px;
    font-size: 16px;
    margin-bottom: 25px;
}

.access .dot {
    width: 8px;
    height: 8px;
    background: #469165;
    border-radius: 50%;
}

/* Hero Heading */
.hero-content h1 {
    font-size: 56px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-content h1 span {
    color: #30B868;
}

/* Hero Paragraph */
.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    margin-bottom: 35px;
}

/* Hero Buttons */
.buttons {
    align-items: right;
    display: flex;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 14px 26px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
}

.btn.primary {
    background: #469165;
    color: white;
}


.btn.secondary {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    
}
/* design card and title */
.note{
  text-align: center;
  margin-top: 30px;
}
.note-title h2, .brain-content h2{
  font-weight: 48px;
  font-size: 800;
}
.note-subtitle p, .note-card p, .brain-description p{
  margin-top: 16px;
  font-weight: 10px;
  font-size: 10px;
  line-height: 10px;
}
.note-cards{
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding:24px 120px;
  gap: 24px;
  width: 100%;
  height: 100px;
}

.note-card{
  width: 250px;
  height: 250px;
  border: 1px solid whitesmoke;
  background: #abaaaa0d;
  border-radius: 8px;
  margin-bottom: 40px;
  
}
.note-card img{
  margin-top: 24px;
  align-items: center;
  border-radius: 100%;
  background:rgba(249, 85, 85, 1);
}

/* design second brain section */
.brain{
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  padding: 100px 120px;
  /* align-items: center; */
  /* height: 500px; */

}

.brain-image{
  margin-top: 24px;
  width: 600px;
  height: 600px;
  background: #abaaaa0d;
}

.brain-content{
  margin: 40px;
}

.brain-content h6{
  font-size: 16px;
  color: #4CAF50;
}

/* .brain-content h2{
  font-weight: 48px;
} */

.cheak {
  list-style: none;
  margin-top: 24px;
  font-size: 400;
  font-weight: 16px;
}